body {
  background-color: #f9f7fe;
}
a {
  color: #885df1;
}
.weather-app {
  background-color: white;
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 30px 50px rgb(65, 50, 100, 0.08);
}
header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}
.search-input {
  border: none;
  border-radius: 6px;
  background-color: #f9f7fe;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}
.search-button {
  background: #885df1;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  padding: 15px 30px;
  margin-left: 3px;
}
.weather-data {
  display: flex;
  justify-content: space-between;
}
.weather-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.weather-details {
  font-size: 16px;
  color: rgb(39, 33, 66, 0.4);
  line-height: 20px;
  font-weight: bold;
}
.weather-temperature-details {
  display: flex;
}
.weather-temperature {
  font-size: 88px;
  font-weight: bold;
  line-height: 88px;
  margin-left: 10px;
}
.weather-icon {
  width: 88px;
  height: 88px;
}
.weather-unit {
  margin-top: 6px;
  font-size: 28px;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.weather-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}

.weather-forecast-temperatures {
  text-align: center;
  color: #f65282;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.weather-forecast-temperature {
  padding: 0 10px;
  font-size: 16px;
}
footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: rgb(0, 0, 0, 0.6);
}
